.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}
/* 焦点图 */
.focus {
  float: left;
  width: 721px;
  height: 455px;
}
.focus img {
  width: 100%;
}
/* 快报模块 */
.newsflash {
  float: right;
  width: 250px;
  height: 455px;
}
/* 新闻模块 */
.newsflash .news {
  height: 165px;
  border: 1px solid #e4e4e4;
  background-color: red;
}
/* 生活服务模块 */
.newsflash .lefeservice {
  height: 209px;
  border: 1px solid #e4e4e4;
  background-color: seagreen;
}
/* 特价商品 */
.newsflash .bargain {
  margin-top: 5px;
}
